html {
    box-sizing: border-box;
    font-size: 60.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.img-fondo {
    background-image: url(/IMG/tienda9.webp);
}

img {
    height: 100%;
    width: 100%;
    border-radius: 30px  30px 30px 30px;
    transition: all .5s;
}

.producto:hover{
    box-shadow: 0 10px 20px black;
}

.producto:hover img{
    transform: scale(1.15);
}

.velo-negro {
    background-color: rgba(0, 0, 0, 0.5);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
}

.logo-img {
    max-width: 40rem;
    margin: 3rem 0;
}

nav {
    margin: 3rem 0 8rem 0;
    background-color: #ffc7d1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

a {
    text-decoration: none;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: black;
    text-transform: uppercase;
}

nav .tienda{
    font-size: 4rem;
}

nav .nos{
    font-size: 4rem;
}

nav .ubicacion{
    font-size: 4rem;
}

nav a:hover {
    color: #696969;
    transform: scale(1.2);
}

.nuestros-productos {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

.producto {
    background-color: #ffd0d8;
    border-radius: 30px 30px 30px 30px;
    margin: 2rem;
    padding: 2rem;

}

.producto-blanco {
    border-radius: 30px 30px 30px 30px;
    background-color: white;
    height: 40rem;
    object-fit: contain;
    padding: 1rem;
}

.producto-precio,
.producto-stock,
.producto-nombre {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.producto-descripcion {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: large;
    text-align: center;
}

.producto-precio
{
    font-size: 5rem;
    font-weight: 500;
    color: red;
}

.producto-precio-tachado
{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: #cc0000;
}

.producto-stock{
    font-size: 2.5rem;
    font-weight: 500;
}
.producto-nombre {
    font-size: 3rem;
    font-weight: 800;
}

.footer {
    background-color: black;
    padding: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    margin-bottom: 20rem;

}

.nosotros-texto {
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nosotros-img {
    background-color: white;
    border-radius: 5%;
}

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
}

.bloques img {
    width: 20rem;
    margin-bottom: 2rem;
    height: 20rem;
}

.bloque-titulo {
    margin: 0;
}

.bloque {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5rem;
}

.bloque-titulo {
    color: red;
    font-size: 4rem;
    margin: 3rem;
    text-transform: uppercase;
    font-weight: 800;
}

.enlace-footer:hover {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ubicacion,
.nosotros-texto{
    display: flex;
    justify-content: center;
    align-items: center;
}
